.modal-column {
  flex: 1;
  min-width: 200px;
}

.modal-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.modal-row span:first-child {
  font-weight: bold;
  margin-right: 10px;
}
