.App {
  display: flex;
  text-align: center;
  flex-flow: column;
  margin: 30px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  height: 30vh;
}